@model DeleteForm

@{
    Page.Title = $"指定された URL は緊急削除されました";
}

<h2 class="title is-4">@Page.FullTitle</h2>

<div class="box">
    <div class="content">
        <p class="title is-6">指定された URL は緊急削除されました</p>
        <p>指定された URL は緊急削除されました。実際に削除されたかどうか、URL にアクセスをして必ず確かめてください。</p>
        <p>　</p>
        <a href="/">トップページに戻る</a>
    </div>
</div>

