@model ErrorViewModel
@{
    Model._MarkNotNull();
    Page.Title = "エラー";

    string ErrorStr = "エラー: " + (Model.ErrorInfo?.Message ?? "不明なエラーが発生しました。");
}

<div class="box">
    <div class="content">
        <article class="message is-warning">
            <div class="message-header">
                <p><i class="fas fa-exclamation-triangle"></i>&nbsp;@ErrorStr</p>
            </div>
            <div class="message-body">
                <p>エラーが発生しました。ブラウザの [戻る] をクリックし、リクエスト内容を確認して再試行してください。<br>問題が解決しない場合は、以下のメッセージを管理者にお問い合わせください。</p>
                <p><b>エラー内容:</b><BR>@ErrorStr</p>
                <p><b>エラー発生日時:</b><BR>@DateTimeOffset.Now._ToDtStr(withMSsecs: true)</p>
                <p><b>リクエスト ID:</b><BR>@Model.RequestId</p>
            </div>
        </article>
    </div>
</div>
